
<div class="text-lg font-medium leading-6 text-gray-900 container-fluid">
  <%= simple_form_for @bank, data: { turbo: false } do |b|%>
    <div class="form-label">
    <%= b.input :name, label: 'Bank name   ', error: "Error: #{@bank.errors.full_messages_for(:name).first}", class: "form-control" %>
    </div>
    <%= b.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
</form>
