<h2><%= @bank.name %></h2>

<%= link_to 'Edit', edit_bank_path(@bank), class: "btn btn-primary p-2" %>

<%=  button_to "Delete", {:controller => :banks,
                         :action => 'destroy', :id => @bank.id }, :method => :delete,
              form: { data: { turbo_confirm: "Are you sure?" }}, class: "btn btn-primary p-2" %>